In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df=data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [7]:
label_encoder_gender = LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo = OneHotEncoder()
geo_encoder = ohe_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
df = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [12]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(ohe_geo, file)

In [13]:
X=df.drop('Exited', axis=1)
y=df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=73)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
X_train

array([[-0.59015258,  0.91670588, -0.09316545, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-1.04652563,  0.91670588,  2.19164319, ..., -1.00050013,
        -0.58158423,  1.74601919],
       [-2.29117939, -1.09086243,  2.00124247, ...,  0.99950012,
        -0.58158423, -0.57273139],
       ...,
       [-0.10266319, -1.09086243,  1.14443923, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-0.50717567, -1.09086243,  0.28763599, ..., -1.00050013,
        -0.58158423,  1.74601919],
       [ 1.11087423, -1.09086243, -0.37876653, ..., -1.00050013,
        -0.58158423,  1.74601919]])

In [15]:
X_test

array([[ 0.35370986,  0.91670588,  1.71564139, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-0.36196606,  0.91670588, -0.75956797, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [ 0.76859444,  0.91670588, -1.9019723 , ..., -1.00050013,
         1.7194414 , -0.57273139],
       ...,
       [-0.73536219, -1.09086243, -0.37876653, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [-0.45531509, -1.09086243, -1.71157158, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [-1.00503717, -1.09086243,  0.47803671, ...,  0.99950012,
        -0.58158423, -0.57273139]])

In [30]:
with open('class_scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [17]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

## ANN Implementation

#### Steps
1. Sequential N/W
2. Dense (use to tell how many nodes are required in a hidden layer)
3. Activation functions to be applied
4. Optimizers to be applied
5. Loss functions
6. Metrics - to check performance of the ANN

Traning info will be stored in -> logs -> in a folder -> so that Tensorboard can be used -> to visualizer the info

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Coding_files\ML_Bootcamp\Project_ANN\churn_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
(X_train.shape[1],)

(12,)

In [20]:
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # HL1
        Dense(32, activation='relu'),  # HL2
        Dense(1, activation='sigmoid')  # O/P Layer
    ]
)

WARNING:tensorflow:From c:\Coding_files\ML_Bootcamp\Project_ANN\churn_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

In [23]:
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [ ]:
log_dir = 'classificationlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [25]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [26]:
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callbacks, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Coding_files\ML_Bootcamp\Project_ANN\churn_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Coding_files\ML_Bootcamp\Project_ANN\churn_env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 0.3995 - accuracy: 0.8334 - val_loss: 0.3588 - val_accuracy: 0.8535
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3539 - accuracy: 0.8522 - val_loss: 0.3617 - val_accuracy: 0.8555
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3494 - accuracy: 0.8544 - val_loss: 0.3576 - val_accuracy: 0.8530
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3435 - accuracy: 0.8601 - val_loss: 0.3449 - val_accuracy: 0.8625
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8602 - val_loss: 0.3476 - val_accuracy: 0.8645
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3391 - accuracy: 0.8611 - val_loss: 0.3469 - val_accuracy: 0.8555
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8640 - val_loss: 0.3543 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3312 - accuracy: 0.8644 - val_loss: 0.3484 - val_accuracy: 0.8540
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3328 - accuracy: 0.8635 - val_loss: 0.3417 - val_accuracy: 0.8610
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3272 - accuracy: 0.8646 - val_loss: 0.3734 - val_accuracy: 0.8610
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8658 - val_loss: 0.3518 - val_accuracy: 0.8545
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8658 - val_loss: 0.3534 - val_accuracy: 0.8545
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8689 - val_loss: 0.3582 - val_accuracy: 0.8580
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3204 - accuracy: 0.8669 - val_loss: 0.3597 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3215 - accuracy: 0.8683 - val_loss: 0.3565 - val_accuracy: 0.8625
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3167 - accuracy: 0.8727 - val_loss: 0.3564 - val_accuracy: 0.8575
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3135 - accuracy: 0.8731 - val_loss: 0.3612 - val_accuracy: 0.8625
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3104 - accuracy: 0.8717 - val_loss: 0.3595 - val_accuracy: 0.8620
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3077 - accuracy: 0.8726 - val_loss: 0.3666 - val_accuracy: 0.8610

In [31]:
model.save('classificationmodel.h5')

In [28]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir classificationlogs/fit

Reusing TensorBoard on port 6006 (pid 24512), started 6 days, 2:26:52 ago. (Use '!kill 24512' to kill it.)