In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
from tensorflow.keras.models import load_model
import pickle

In [ ]:
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder = pickle.load(file)
with open('one_hot_encoder_geo.pkl', 'rb') as file:
    ohe_encoder = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)


model = load_model('model.h5')

In [ ]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [ ]:
input_data['Gender'] = label_encoder.fit_transform(['Gender'])[0]

In [ ]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 0,
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [ ]:
geo_encoder = ohe_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoder, columns=ohe_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Coding_files\ML_Bootcamp\Project_ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [ ]:
ip = pd.DataFrame([input_data])

In [ ]:
df = pd.concat([ip.drop('Geography', axis=1), geo_encoded_df], axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [ ]:
input_scaled = scaler.transform(df)
input_scaled

array([[-0.52791989, -1.09086243,  0.09723527, -0.69507065, -0.27067999,
         0.80055034,  0.64686916,  0.97165165, -0.86738848,  0.99950012,
        -0.58158423, -0.57273139]])

In [ ]:
prediction = model.predict(input_scaled)
prediction[0][0]

1/1 [==============================] - 0s 22ms/step

0.13340187