In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df=data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [7]:
label_encoder_gender = LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo = OneHotEncoder()
geo_encoder = ohe_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
df = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [12]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(ohe_geo, file)

In [35]:
X=df.drop('EstimatedSalary', axis=1)
y=df['EstimatedSalary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=73)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [36]:
X_train

array([[-0.59015258,  0.91670588, -0.09316545, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-1.04652563,  0.91670588,  2.19164319, ..., -1.00050013,
        -0.58158423,  1.74601919],
       [-2.29117939, -1.09086243,  2.00124247, ...,  0.99950012,
        -0.58158423, -0.57273139],
       ...,
       [-0.10266319, -1.09086243,  1.14443923, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-0.50717567, -1.09086243,  0.28763599, ..., -1.00050013,
        -0.58158423,  1.74601919],
       [ 1.11087423, -1.09086243, -0.37876653, ..., -1.00050013,
        -0.58158423,  1.74601919]])

In [37]:
X_test

array([[ 0.35370986,  0.91670588,  1.71564139, ..., -1.00050013,
         1.7194414 , -0.57273139],
       [-0.36196606,  0.91670588, -0.75956797, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [ 0.76859444,  0.91670588, -1.9019723 , ..., -1.00050013,
         1.7194414 , -0.57273139],
       ...,
       [-0.73536219, -1.09086243, -0.37876653, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [-0.45531509, -1.09086243, -1.71157158, ...,  0.99950012,
        -0.58158423, -0.57273139],
       [-1.00503717, -1.09086243,  0.47803671, ...,  0.99950012,
        -0.58158423, -0.57273139]])

In [54]:
with open('reg_scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [39]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

#### ANN with Regression Problem

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [41]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam', loss='mean_absolute_error', metrics='mae')

In [42]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                832

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [44]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [45]:
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 99998.5703 - mae: 99998.5703 - val_loss: 100101.3281 - val_mae: 100101.3281
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99388.7812 - mae: 99388.7812 - val_loss: 98869.5156 - val_mae: 98869.5156
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97253.2422 - mae: 97253.2422 - val_loss: 95678.4844 - val_mae: 95678.4844
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 92902.4375 - mae: 92902.4375 - val_loss: 90034.3672 - val_mae: 90034.3672
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 86316.3984 - mae: 86316.3984 - val_loss: 82395.1953 - val_mae: 82395.1953
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 78187.3438 - mae: 78187.3438 - val_loss: 73669.0000 - val_mae: 73669.0000
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 69780.9531 - mae: 69780.9531 - val_loss: 65479.6523 - val_mae: 65479.6523
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 62275.1055 - mae: 62275.1055 - val_loss: 58745.1914 - val_mae: 58745.1914
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 56723.8672 - mae: 56723.8672 - val_loss: 54224.8438 - val_mae: 54224.8438
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 53299.6914 - mae: 53299.6914 - val_loss: 51625.7109 - val_mae: 51625.7109
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51547.7969 - mae: 51547.7969 - val_loss: 50442.0195 - val_mae: 50442.0195
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50823.4609 - mae: 50823.4609 - val_loss: 50002.9219 - val_mae: 50002.9219
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50536.7734 - mae: 50536.7734 - val_loss: 49822.8906 - val_mae: 49822.8906
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50407.5195 - mae: 50407.5195 - val_loss: 49739.0859 - val_mae: 49739.0859
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50332.0312 - mae: 50332.0312 - val_loss: 49685.2930 - val_mae: 49685.2930
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 50277.3789 - mae: 50277.3789 - val_loss: 49650.6953 - val_mae: 49650.6953
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50233.8320 - mae: 50233.8320 - val_loss: 49623.7773 - val_mae: 49623.7773
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50195.3555 - mae: 50195.3555 - val_loss: 49596.2109 - val_mae: 49596.2109
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 50158.4531 - mae: 50158.4531 - val_loss: 49580.3320 - val_mae: 49580.3320
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 50132.1367 - mae: 50132.1367 - val_loss: 49569.3867 - val_mae: 49569.3867
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 50102.6406 - mae: 50102.6406 - val_loss: 49559.7266 - val_mae: 49559.7266
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 50081.1797 - mae: 50081.1797 - val_loss: 49536.8047 - val_mae: 49536.8047
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 50056.5039 - mae: 50056.5039 - val_loss: 49526.6406 - val_mae: 49526.6406
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 50036.0859 - mae: 50036.0859 - val_loss: 49513.8086 - val_mae: 49513.8086
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 50017.4492 - mae: 50017.4492 - val_loss: 49499.3984 - val_mae: 49499.3984
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49999.0469 - mae: 49999.0469 - val_loss: 49490.1836 - val_mae: 49490.1836
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49981.5391 - mae: 49981.5391 - val_loss: 49482.3633 - val_mae: 49482.3633
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49970.6758 - mae: 49970.6758 - val_loss: 49476.4688 - val_mae: 49476.4688
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49952.6562 - mae: 49952.6562 - val_loss: 49471.3984 - val_mae: 49471.3984
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49941.1016 - mae: 49941.1016 - val_loss: 49465.9844 - val_mae: 49465.9844
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49928.1133 - mae: 49928.1133 - val_loss: 49462.0703 - val_mae: 49462.0703
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49917.7891 - mae: 49917.7891 - val_loss: 49451.7383 - val_mae: 49451.7383
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49904.3203 - mae: 49904.3203 - val_loss: 49450.1172 - val_mae: 49450.1172
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49892.6641 - mae: 49892.6641 - val_loss: 49444.9570 - val_mae: 49444.9570
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49882.6562 - mae: 49882.6562 - val_loss: 49445.5586 - val_mae: 49445.5586
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49873.9727 - mae: 49873.9727 - val_loss: 49441.3633 - val_mae: 49441.3633
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49864.8125 - mae: 49864.8125 - val_loss: 49443.3945 - val_mae: 49443.3945
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49855.3398 - mae: 49855.3398 - val_loss: 49445.9219 - val_mae: 49445.9219
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49845.6133 - mae: 49845.6133 - val_loss: 49446.2734 - val_mae: 49446.2734
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49837.4062 - mae: 49837.4062 - val_loss: 49439.2930 - val_mae: 49439.2930
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49829.4570 - mae: 49829.4570 - val_loss: 49432.0117 - val_mae: 49432.0117
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49820.4062 - mae: 49820.4062 - val_loss: 49430.2773 - val_mae: 49430.2773
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49811.9414 - mae: 49811.9414 - val_loss: 49424.0742 - val_mae: 49424.0742
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49808.0625 - mae: 49808.0625 - val_loss: 49417.9453 - val_mae: 49417.9453
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49800.8164 - mae: 49800.8164 - val_loss: 49411.2266 - val_mae: 49411.2266
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49791.1016 - mae: 49791.1016 - val_loss: 49414.4297 - val_mae: 49414.4297
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49788.4961 - mae: 49788.4961 - val_loss: 49408.9258 - val_mae: 49408.9258
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49777.5938 - mae: 49777.5938 - val_loss: 49396.5391 - val_mae: 49396.5391
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49774.1602 - mae: 49774.1602 - val_loss: 49396.4609 - val_mae: 49396.4609
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49768.2070 - mae: 49768.2070 - val_loss: 49399.1484 - val_mae: 49399.1484
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49763.0547 - mae: 49763.0547 - val_loss: 49394.4648 - val_mae: 49394.4648
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49761.2578 - mae: 49761.2578 - val_loss: 49384.8711 - val_mae: 49384.8711
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49751.7070 - mae: 49751.7070 - val_loss: 49384.9766 - val_mae: 49384.9766
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49745.9648 - mae: 49745.9648 - val_loss: 49379.0234 - val_mae: 49379.0234
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49740.1133 - mae: 49740.1133 - val_loss: 49379.8047 - val_mae: 49379.8047
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49733.4336 - mae: 49733.4336 - val_loss: 49374.9844 - val_mae: 49374.9844
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49730.6328 - mae: 49730.6328 - val_loss: 49373.7109 - val_mae: 49373.7109
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49723.8906 - mae: 49723.8906 - val_loss: 49367.8164 - val_mae: 49367.8164
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49721.8242 - mae: 49721.8242 - val_loss: 49361.8320 - val_mae: 49361.8320
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 49716.4570 - mae: 49716.4570 - val_loss: 49365.8008 - val_mae: 49365.8008
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 49712.8594 - mae: 49712.8594 - val_loss: 49363.5781 - val_mae: 49363.5781
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49709.2695 - mae: 49709.2695 - val_loss: 49356.1016 - val_mae: 49356.1016
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49703.8906 - mae: 49703.8906 - val_loss: 49354.2656 - val_mae: 49354.2656
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49697.2656 - mae: 49697.2656 - val_loss: 49359.2031 - val_mae: 49359.2031
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 49693.1797 - mae: 49693.1797 - val_loss: 49356.1758 - val_mae: 49356.1758
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49692.4141 - mae: 49692.4141 - val_loss: 49353.9883 - val_mae: 49353.9883
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 49688.0508 - mae: 49688.0508 - val_loss: 49349.0742 - val_mae: 49349.0742
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 49683.6602 - mae: 49683.6602 - val_loss: 49345.8359 - val_mae: 49345.8359
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 49677.3086 - mae: 49677.3086 - val_loss: 49341.3398 - val_mae: 49341.3398
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 49673.8633 - mae: 49673.8633 - val_loss: 49346.1172 - val_mae: 49346.1172
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 49667.1719 - mae: 49667.1719 - val_loss: 49339.3242 - val_mae: 49339.3242
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 49664.3945 - mae: 49664.3945 - val_loss: 49346.3359 - val_mae: 49346.3359
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49662.2422 - mae: 49662.2422 - val_loss: 49342.4492 - val_mae: 49342.4492
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 49659.4219 - mae: 49659.4219 - val_loss: 49343.7969 - val_mae: 49343.7969
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 49653.4062 - mae: 49653.4062 - val_loss: 49338.1758 - val_mae: 49338.1758
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 49650.5195 - mae: 49650.5195 - val_loss: 49337.3555 - val_mae: 49337.3555
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 49647.2461 - mae: 49647.2461 - val_loss: 49337.6914 - val_mae: 49337.6914
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 49645.1406 - mae: 49645.1406 - val_loss: 49339.4844 - val_mae: 49339.4844
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 49638.9961 - mae: 49638.9961 - val_loss: 49331.0273 - val_mae: 49331.0273
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 49636.8711 - mae: 49636.8711 - val_loss: 49329.5352 - val_mae: 49329.5352
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 49634.9805 - mae: 49634.9805 - val_loss: 49329.7852 - val_mae: 49329.7852
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 49630.7852 - mae: 49630.7852 - val_loss: 49328.4648 - val_mae: 49328.4648
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 49627.5391 - mae: 49627.5391 - val_loss: 49328.3555 - val_mae: 49328.3555
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 49623.9922 - mae: 49623.9922 - val_loss: 49324.0117 - val_mae: 49324.0117
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 49618.3555 - mae: 49618.3555 - val_loss: 49322.8008 - val_mae: 49322.8008
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 49617.5508 - mae: 49617.5508 - val_loss: 49321.5273 - val_mae: 49321.5273
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 49614.8672 - mae: 49614.8672 - val_loss: 49315.7344 - val_mae: 49315.7344
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 49611.4961 - mae: 49611.4961 - val_loss: 49317.0742 - val_mae: 49317.0742
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 49607.7422 - mae: 49607.7422 - val_loss: 49317.8711 - val_mae: 49317.8711
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 49607.4219 - mae: 49607.4219 - val_loss: 49315.2383 - val_mae: 49315.2383
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 49602.6602 - mae: 49602.6602 - val_loss: 49309.5312 - val_mae: 49309.5312
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 49601.6328 - mae: 49601.6328 - val_loss: 49313.5312 - val_mae: 49313.5312
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 49596.0312 - mae: 49596.0312 - val_loss: 49309.6914 - val_mae: 49309.6914
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 49597.4727 - mae: 49597.4727 - val_loss: 49313.3203 - val_mae: 49313.3203
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 49596.0391 - mae: 49596.0391 - val_loss: 49312.2578 - val_mae: 49312.2578
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 49593.0234 - mae: 49593.0234 - val_loss: 49311.2148 - val_mae: 49311.2148
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 49586.0391 - mae: 49586.0391 - val_loss: 49309.1133 - val_mae: 49309.1133
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 49584.1641 - mae: 49584.1641 - val_loss: 49317.2305 - val_mae: 49317.2305
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 49581.1602 - mae: 49581.1602 - val_loss: 49311.6406 - val_mae: 49311.6406
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 49582.1133 - mae: 49582.1133 - val_loss: 49308.4453 - val_mae: 49308.4453

In [ ]:
%load_ext tensorboard

In [50]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 23696), started 0:15:45 ago. (Use '!kill 23696' to kill it.)

In [51]:
test_loss,test_mae = model.evaluate(X_test, y_test)
print("Test MAE: ", test_mae)

63/63 [==============================] - 0s 1ms/step - loss: 49308.4453 - mae: 49308.4453
Test MAE:  49308.4453125

In [53]:
model.save('regressionmodel.h5')